.DS_Store
node_modules
/build
/.husky
/.svelte-kit
/package
.env
.env.*
!.env.example
*.min.*
/static/~partytown
.vscode
.vercel
_generated
.*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
